.header {
  background-color: rgba(138, 43, 226, 0.8);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, "sans-serif";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  letter-spacing: 0.4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
